body {
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    background-image: url(https://st3.depositphotos.com/4072575/15577/i/110/depositphotos_155774886-stock-photo-poker-table-felt-background-seamless.jpg);
}
.welcome-box {
    display: none;
}
.welcome-box.active {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
}
.welcome-box:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    z-index: -1;
}
.welcome-content {
    margin-top: 250px;
    color: #fff;
}
.card-board {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.cards-box {
    position: absolute;
    top: calc(60% - 100px);
    left: 10px;
    height: 200px;
    width: 152px;
}
.cards-box .card {
    position: absolute;
    top: 0;
    border: 1px solid #801111;
}
.card {
    width: 100px;
    height: 150px;
    border-radius: 15px;
    margin-right: 10px;
    background-color: #fff;
    background-image: url('http://cardsfm.ru/published/publicdata/ZYTOSHOPSCRIPT/attachments/SC/products_pictures/back01jb_enl.jpg');
    background-position: center;
    background-size: cover;
}
.card[data-color='red'] { color: red; }
.card[data-color='black'] {color: #000; }
.card .value {
    font-size: 20px;
    line-height: 24px;
}
.card .mode {
    line-height: 16px;
}
.card .value,
.card .mode {
    opacity: 0;
}
.player-place,
.computer-place {
    position: absolute;
    width: 100%;
}
.computer-place-cards,
.player-place-cards {
    margin: 0 auto;
    width: 912px;
    height: 180px;
    padding: 0 10px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 14px 0px rgb(0, 0, 0);
    -moz-box-shadow: inset 0px 0px 14px 0px rgb(0, 0, 0);
    box-shadow: inset 0px 0px 14px 0px rgb(0, 0, 0);
}
.player-place { bottom: 10px; }
.computer-place { top: 10px; }
.player-place .card,
.computer-place.active .card {
    position: relative;
    top: 0 !important;
    background: #ffffff;
}
.player-place .card:last-child, 
.computer-place .card:last-child {
    margin-right: 0;
}
.player-place .card .value,
.player-place .card .mode,
.computer-place .card .mode,
.computer-place .card .value {
    display: block;
    opacity: 1;
}
.control-btn {
    position: absolute;
    right: 15px;
    bottom: 6px;
}
.control-btn button {
    display: block;
    width: 155px;
    height: 30px;
    border: none;
    margin-bottom: 10px;
    background-color: #F6D600;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0px 6px 0px 0px #b5a11c;
}
.control-btn button:focus {
    outline: none;
}
.control-btn button:hover {
    background-color: #63B931;
    color: #ffffff;
    box-shadow: 0px 6px 0px 0px  rgb(67, 128, 29);
}
.control-btn button:last-child {
    margin-bottom: 0;
}
.control-btn button:disabled {
    background-color: #D11C16;
    color: #ffffff;
    box-shadow: 0px 7px 0px 0px #611d1b; 
}
.card-content {
    position: absolute;
    top: 5px;
    left: 10px;
    text-align: center;
}
.computer-place .card .card-content,
.computer-place .score-box {
    display: none;
}
.computer-place.active .card .card-content,
.computer-place.active .score-box {
    display: block;
}
.player-place .score-box,
.computer-place.active .score-box {
    position: absolute;
    right: 75px;
    bottom: 125px;
    font-size: 46px;
    color: #ffffff;
}
.computer-place.active .score-box {
    top: 55px;
    bottom: auto;
}
.player-name,
.computer-name {
    position: absolute;
    top: 55px;
    left: 10px;
    width: 200px;
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    
}